<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.huanju.accounting.mapper.ProofItemMapper">

    <insert id="save" parameterType="xyz.huanju.accounting.domain.ProofItem" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO proof_item(id, abstraction, debit_sub_subject_id, credit_sub_subject_id, debit_ledger_subject_id,
                               credit_ledger_subject_id, money, charge, proof_id)
        VALUES (NULL, #{abstraction}, #{debitSubSubjectId}, #{creditSubSubjectId},
                #{debitLedgerSubjectId}, #{creditLedgerSubjectId}, #{money}, 0, #{proofId})
    </insert>

    <select id="find" resultMap="itemsMap">
        SELECT id, abstraction, debit_sub_subject_id,
               credit_sub_subject_id,
               debit_ledger_subject_id, credit_ledger_subject_id,
               money, charge, proof_id
        FROM proof_item
        WHERE id = #{key}
    </select>


    <resultMap id="itemsMap" type="xyz.huanju.accounting.domain.ProofItem">
        <id column="id" property="id"/>
        <result column="abstraction" property="abstraction"/>
        <result column="money" property="money"/>
        <result column="charge" property="charge"/>
        <result column="proof_id" property="proofId"/>
        <result column="DSSId" property="debitSubSubjectId"/>
        <result column="CSSId" property="creditSubSubjectId"/>
        <result column="DLSId" property="debitLedgerSubjectId"/>
        <result column="CLSId" property="creditLedgerSubjectId"/>
    </resultMap>

    <select id="items" parameterType="integer" resultMap="itemsMap">
        SELECT id                       AS id,
               abstraction              AS abstraction,
               money                    AS money,
               charge                   AS charge,
               proof_id                 AS proof_id,
               debit_sub_subject_id     AS DSSId,
               credit_sub_subject_id    AS CSSId,
               debit_ledger_subject_id  AS DLSId,
               credit_ledger_subject_id AS CLSId
        FROM proof_item
        WHERE proof_id = #{key}
    </select>


    <update id="update" parameterType="proofItem">
        UPDATE proof_item
        <set>
            <if test="abstraction!=null and abstraction!=''">
                abstraction=#{abstraction},
            </if>
            <if test="debitSubSubjectId!=null">
                debit_sub_subject_id=#{debitSubSubjectId},
            </if>
            <if test="creditSubSubjectId!=null">
                credit_sub_subject_id=#{creditSubSubjectId},
            </if>
            <if test="debitLedgerSubjectId!=null">
                debit_ledger_subject_id=#{debitLedgerSubjectId},
            </if>
            <if test="creditLedgerSubjectId!=null">
                credit_ledger_subject_id=#{creditLedgerSubjectId},
            </if>
            <if test="money!=null">
                money=#{money},
            </if>
            <if test="charge!=null">
                charge=#{charge},
            </if>
            <if test="proofId!=null">
                proof_id=#{proofId},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <select id="listBySubject" parameterType="integer" resultMap="itemsMap">
        SELECT DISTINCT id
        FROM proof_item
        WHERE credit_ledger_subject_id = #{subjectId}
           OR credit_sub_subject_id = #{subjectId}
           OR debit_ledger_subject_id = #{subjectId}
           OR debit_sub_subject_id = #{subjectId}
    </select>

</mapper>