<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.huanju.accounting.mapper.ProofItemMapper">

    <insert id="save" parameterType="xyz.huanju.accounting.domain.ProofItem">

    </insert>

</mapper>