server:
  port: 9999

spring:
  application:
    name: gateway

  redis:
    host: 192.168.224.138
    port: 6379
    database: 0
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
    gateway:
      discovery:
        locator:
          #开启从注册中心动态创建路由功能，利用微服务名进行路由
          enabled: true
      loadbalancer:
        use404: true
      routes:
        #subject 服务
        - id: subject-service
          uri: lb://subject-service
          predicates:
            - Path=/subject/**,/admin/subject/**,/test/subject/**,/subject-service/actuator/**,/manage/subject/**
          filters:
            - RewritePath=/subject-service/actuator/(?<segment>), /actuator/$\{segment}


          #user center 服务
        - id: user-center
          uri: lb://user-center
          predicates:
            - Path=/center/**,/admin/user/**,/manage/user/**,/test/user/**,/user/**,/user-center/actuator/**,/login,/logout
          filters:
            - RewritePath=/subject-service/actuator/(?<segment>), /actuator/$\{segment}

        - id: proof-service
          uri: lb://proof-service
          predicates:
            - Path=/proof/**,/admin/proof/**,/manage/user/**,/test/proof/**,/proof-service/actuator/**
          filters:
            - RewritePath=/proof-service/actuator/(?<segment>), /actuator/$\{segment}

        - id: account-books-service
          uri: lb://account-books-service
          predicates:
            - Path=/accountBook/**,/account-books-service/actuator/**
          filters:
            - RewritePath=/account-books-service/actuator/(?<segment>), /actuator/$\{segment}

token:
  redis:
    host: ${spring.redis.host}
    port: ${spring.redis.port}
    db: ${spring.redis.database}

auth:
  filter:
    exclude: /login,/test
    admin: /admin
    manage: /manage




#监控配置
management:
  endpoint:
    health:
      enabled: true
      show-details: always
    info:
      enabled: true
    caches:
      enabled: true
    env:
      post:
        enabled: true
    beans:
      enabled: true
    metrics:
      enabled: true

#配置监控info信息
info:
  name: ${spring.application.name}
  port: ${server.port}

